body{
    text-align: center;
    background-color: rgb(231, 219, 219);
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

section{
    background: linear-gradient(90deg, rgba(114,179,214,1) 9%, rgba(22,99,170,1) 92%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(46, 145, 184);
    color: white;
    max-width: 300px;
}

button{
    background-color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

